@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');

body {
  font-family: 'Roboto', cursive;
  font-size: 16px;
  line-height: 1;
  background-color: rgb(255, 255, 255);
  overscroll-behavior: none;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  /* border-left: 1px solid black; */
  padding: 10px;
}

.jumbotron {
  background-image: url("/assets/images/cityscape.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  text-align: center;
  border-bottom: 10px solid #2a60f4;
  position: -webkit-sticky;
  position: sticky;
  z-index: 9999;
  top: 0;
  border-radius: 0;
}

.description {
  white-space: pre-wrap;
}

#title {
  font-family: 'Kdam Thmor Pro', sans-serif;
  font-size: 100px;
  color: #ffca4e;
  text-shadow: -7px -7px 4px #2b0f87, 
                8px 8px 10px #2b0f87, 
                8px -8px 10px #2b0f87, 
                -8px 8px 10px #2b0f87;
}

.daily {
  position: relative;
  font-family: 'Bebas Neue', cursive;
  font-size: 140px;
  right: -12px;
  letter-spacing: 10px;
  color: #ffffff;
  /* text-shadow: 3px 4px 7px #000000; */
}

#subhead {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 30px;
  margin-bottom: 25px;
  text-shadow: 4px 6px 7px #180458;
  color: #ffd46f;
  line-height: 1.4;
}

#current-day {
  font-size: 50px;
  color: #ffffff;
  font-weight: 500;
  text-shadow: 4px 6px 7px #180458;
}

#input-text-area {
  font-size: 18px;
  font-weight: 300;
  width: 100%;
}

textarea::placeholder {
  color: #bbbbbb;
}

.time-block {
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 50px;
  border-top: 1px solid white;
}

.time-of-day {
  color: #666666;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
}

.past {
  background-color: #d3d3d3;
  color: white;
}

.present {
  background-color: #ff6961;
  color: white;
}

.future {
  background-color: #77dd77;
  color: white;
}

.fa-floppy-disk {
  padding-top: 12px;
  font-size: 36px;
  cursor: pointer;
}

.saveBtn {
  border-left: 1px solid rgb(232, 232, 232);
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #2a60f4;
  color: #ffffff;
  cursor: pointer;
}

.saveBtn:hover {
  background-image: linear-gradient(#2a60f4, #3511ab);
  transition: all .2s ease-in-out;
}

.saveBtn .fa-floppy-disk:hover {
  font-size: 40px;
  transition: all .2s ease-in-out;
}